# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64,i386] http://mariadb.mirrors.ovh.net/MariaDB/repo/{{ mariadb_server_version }}/ubuntu trusty main
deb-src http://mariadb.mirrors.ovh.net/MariaDB/repo/{{ mariadb_server_version }}/ubuntu trusty main
deb [arch=amd64,i386] http://nyc2.mirrors.digitalocean.com/mariadb/repo/{{ mariadb_server_version }}/ubuntu trusty main
deb-src http://nyc2.mirrors.digitalocean.com/mariadb/repo/{{ mariadb_server_version }}/ubuntu trusty main
